img {
  width: 20%;
  height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
  <-background-color: #716c6b;
}

body {
  background-color: #716c6b;
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(90deg, #fafafa 4.55%, #787771 4.55%, #787771 50%, #fafafa 50%, #fafafa 54.55%, #787771 54.55%, #787771 100%);
background-size: 44.00px 44.00px;
}

h1 {
  text-align: center;
  font-size: 72;
  color: #6de4f4;
}


.row-1{
  display: flex;
  justify-content: space-between;

}

.row-2{
  display: flex;
  justify-content: space-between;

}

.row-3{
  display: flex;
  justify-content: space-between;
}



#jordanAlbumCover{
  margin-top: 95px;
}

.playing {
  border: red solid 5px;
}

img:hover{
  transform: scale(1.2);
}

footer{
  color: red;
  font-weight: bold;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

@media screen and (max-width: 900px) {
  h1{font-size: 48px;
  }
  img{ height: auto;
       width: 80%;
  }
  .row-1{ display: block;
  }
  .row-2{display: block;
  }
  .row-3{display: block;}
}
